/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

/* === Cartes de contenu === */

.place-card,
.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* === Détails de logement === */

.place-details {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.place-info {
    margin-top: 10px;
}

/* === Boutons et formulaires === */

.details-button,
.login-button {
    margin: 10px 0;
    padding: 8px 12px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.form,
.add-review {
    margin:  20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* === Logo === */

.logo {
    height: 50px;
}

/* === Message de connexion === */
#message {
    margin-top: 10px;
    font-size: 0.95rem;
    font-weight: bold;
    color: red;
    display: block;
}
